<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>compre1bitcoin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="resources/style.css">
  </head>
  <body>
    <div class="container col-md-8 col-md-offset-2">      
      <h1 class="text-center">
        <img src="resources/logo.png" alt="compre1bitcoin">
      </h1>
      <div class="row header">
        <div class="col-md-5 col-sm-5 text-center">
          <h2>You want to buy?</h2>  
        </div>
        <div class="col-md-5 col-sm-5 col-md-offset-2 col-sm-offset-2 text-center">
          <h2>Or sell?</h2>
        </div>
      </div>   
      <div class="row rates">
        <div class="element col-md-5 col-sm-5 text-center btc">
          <h2><i class="glyphicon glyphicon-xbt"></i>1</h2>
          <hr>
          <h3 id="buy-brl">
            ...
          </h3>
          <hr>
          <a class="btn btn-default btn-lg" href="#">Buy now</a>  
        </div>
        <div class="element col-md-5 col-sm-5 col-md-offset-2 col-sm-offset-2 text-center brl">
          <h2><i class="glyphicon glyphicon-xbt"></i>1</h2>
          <hr>
          <h3 id="sell-brl">
            ...
          </h3>
          <hr>
          <a class="btn btn-default btn-lg" href="#">Sell now</a>  
        </div>
      </div>
    </div>
    <script src="resources/jquery.min.js"></script>
    <script src="resources/numeral.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script>
      var socket  = new io();
      numeral.register('locale', 'pt-BR', {
          delimiters: {
              thousands: '.',
              decimal: ','
          },        
          currency: {
              symbol: 'R$'
          }
      });
      numeral.locale('pt-BR');
      socket.on('buy', function (data) {
        data.price = numeral(data.price).format('$0,0.00');
        $("#buy-brl").text(data.price);
      });
      socket.on('sell', function (data) {
        data.price = numeral(data.price).format('$0,0.00');
        $("#sell-brl").text(data.price);
      });
    </script>
  </body>    
</html>
