html, body {
	font-family: 'Lato';
}
body {
	background: url(bg-black.png);
}
h1 {
	text-transform: uppercase;
	color: #FFF;
	margin-top: 10%;
	font-size: 40px;
}
h1 img {
	width: 100%;
}
.container div.element {
	border: 1px solid #DDD;
	border-radius: 10px;
}
.container h2 {
	font-size: 25px;
}
.row {
	padding: 10px;
}
.header div {
	font-size: 25px;
	color: #FFF;
}
.rates div {
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	transition: all 250ms linear;
	font-size: 25px;
	background: #FFF;	
}
.rates div.btc:hover {
	box-shadow: -10px 0px 0px #FF9900;
}
.rates div.brl:hover {
	box-shadow: 10px 0px 0px #27ae60;
}
.rates a {
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	transition: all 250ms linear;
	border: 0;
	color: #FFF;
	margin-bottom: 20px;
}
.rates div.btc a {
	background: #FF9900;
	text-shadow: 1px 1px 1px #7B4A00;
}
.rates div.btc a:hover {
	color: #FFF;
	box-shadow: none;
}
.rates div.brl a {
	background: #27ae60;
	text-shadow: 1px 1px 1px #115c31;
}
.rates div.brl a:hover {
	color: #FFF;
	box-shadow: none;
}
.rates .exchange .glyphicon {
	padding: 0;
	margin: 0;
	line-height: 40px;
}